.container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.AuthInputContainer{
width: 356px;
margin-top: 30px;
color: #696974;
::placeholder {
    color: #B5B5BE;
    }
}

h1{
    font-size: 28px;
}

.Authbutton{
    border-radius: 30px;
    background-color: #ff6600;
    border: none;
    color: white;
    min-width: 356px;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 20px;
    padding: 11px 0;
    margin: 2rem 0;
    cursor: pointer;
}

.LinkText{
color: #0062FF;
font-size: 16px;
font-weight: 400;
cursor: pointer;
margin: 0 5px;
}

.EndLinkText{
    display: flex;
    justify-content: flex-end;
    color: #5e97f1;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

.LinkContainer{
    display: flex;
    justify-content: flex-end;
    width: 356px;
}

.LinkStyle{
    width: 100%;
    display: flex;
    justify-content: center;
    text-decoration: none;  
}

/* settingpage 相關 */
.SettingContainer{
    display: flex;
}

.SettingSidebar{
    width: 20%;  
    padding-right: 80px;
    padding-left: 80px;
    border-right: 1px #d9d9d9 solid;
}

.SettingInputContainer{
    width:550px;
    margin-top: 30px;
      
  }

.SettingDiv{
    margin-left: 16px;
}  

.ButtonContainer{
    display: flex;
    justify-content: flex-end; 
}

.settingAuthbutton{
    border-radius: 30px;
    background-color: #ff6600;
    border: none;
    color: white;
    min-width: 88px;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 20px;
    padding: 11px 0;
    margin: 2rem 0;
    cursor: pointer;
}

.ErrorMessage{
    color: red;
}